@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.center{
    text-align: center;
}
  .centertext{
    margin-top: 30px;
    margin-left: 20px;
    color: white;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
   
}
.centertext2{
    margin-top: 140px;
    margin-left: 30px;
    color: white;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
   
}
.story{
    font-family: 'Playfair Display', serif;
    text-align: justify;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 50px !important;
    margin-right: 50px;
    font-size: 25px;
    text-align: justify;
}
.title{
    text-align: justify;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
    color: #606060;
}
.aboutt{
    width:50px;
    height:500px; 
    margin-top: 100px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #f0f0f0;
}

.list {
    /* position: relative;
    flex: 1 0 33.333333%;
    height: 100%;
    padding: 3.6em 0 0;
    overflow-y: scroll;
    background-color: #f0f0f0;
    margin-right: 40px;
    margin-left: 40px; */
    
        display: grid;
        margin-top: 100px;
        /* vertical-align: middle;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        flex: 25%;
        width: calc(100% / 3);
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px; */
        float: left;
        /* grid-template-columns: 1fr 1fr; */
      
        margin-left: 25px;
        /* margin-right: auto; */
        grid-template-columns: 100px 50px 100px;
        /* grid-template-rows: 80px auto 80px;  */
        grid-gap: 15px 10px;
  }

  .ff{
    color: #606060;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .menu{
      margin-top: 180px;
      margin-left: 70px;
      margin-right: 70px;
  }

  .menulist{
      margin-left: 130px;
      margin-top: 190px;
  }
  .background{
      background-color: red;
  }