@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.center{
    text-align: center;
}
  .centertext{
    margin-top: 30px;
    margin-left: 20px;
    color: white;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
   
}
.centertext2{
    margin-top: 140px;
    margin-left: 30px;
    color: white;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
   
}
.story{
    font-family: 'Playfair Display', serif;
    text-align: justify;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 50px !important;
    margin-right: 50px;
    font-size: 25px;
    text-align: justify;
}
.title{
    text-align: justify;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
    color: #606060;
}
.aboutt{
    width:50px;
    height:500px; 
    margin-top: 100px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #f0f0f0;
}
  .font{
    font-family:'McLaren', cursive;
    font-size: 30px;
    color: #606060;
  }
  .menue{
    float: left;
    margin-top: 100px;
    margin-right: 70px; 
  }
  .beens{
    float: left;
    margin-top: 100px;
    margin-right: 70px; 
    margin-left: 3%;
  }
  @media (max-width: 320px){
    .centertext2{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;  
    }
    .centertext{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 10px;
    }
    .font{
        font-family:'McLaren', cursive;
        font-size: 10px;
        color: #606060;
    }
    .story{
        font-size: 15px;
    }
    .title{
        font-size: 30px;
    }
    .aboutt{
        width:30px;
        height:300px; 
        margin-top: 70px;
    }
  }
  @media (max-width: 425px){
    .centertext2{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;  
    }
    .centertext{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 10px;
    }
    .font{
        font-family:'McLaren', cursive;
        font-size: 10px;
        color: #606060;
    }
    .story{
        font-size: 15px;
    }
    .title{
        font-size: 30px;
    }
    .aboutt{
        width:30px;
        height:300px; 
        margin-top: 70px;
    }
  }